.title {
  font-weight: 700;
  font-size: 26px;
}

mat-toolbar {
  background-color: #585DBF;
  * {
    color: white;
  }

  .login {
    background: #585DBF;
    box-shadow: inset 5px 5px 10px #4d52a8,
            inset -5px -5px 10px #6368d6;

  }
}
