<products-toolbar *ngIf="isAuthenticated.value" (logout)="logout()">
</products-toolbar>

<mat-sidenav-container>
  <mat-sidenav *ngIf="isAuthenticated.value" #sidenav opened mode="side" class="app-sidenav">
    <ng-container>
      <nav>
        <div class="links">
          <div *ngFor="let link of links">
            <a mat-button class="nav-link" [routerLink]="link.path" routerLinkActive="active">
              <mat-icon>
                {{link.icon}}
              </mat-icon>
              <span>
                {{link.title}}
              </span>
            </a>
          </div>
        </div>
      </nav>
    </ng-container>
  </mat-sidenav>

  <div class="app-content">
    <div class="router-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>
