mat-sidenav-container {
  display: block;
  flex: 1;

  mat-sidenav {
    width: 200px;
  }
}

.app-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.router-content {
  flex: 1 1 100%;
}

.links {
  margin-top: 40px;

  :hover {
    background-color: #fefefe;
  }
  .nav-link {
    display: flex;
    justify-content: flex-start;
    padding: 0 10px 0 20px;
    margin-top: 10px;
    font-size: 20px;
    width: 100%;
    color: #b9b9b9;
    font-weight: 200;

    span {
      padding-left: 20px;
    }
  }

  .active {
    border-radius: 0;
    border-right: solid 2px #585DBF;
    mat-icon {
      color: #585DBF;
    }

    span {
      color: #523D59;
    }
  }
}
